{% extends "base.html" %}

{% load static %}

{% block title %}
    {{ campaign.name }} - Dungeon Buddy
{% endblock title %}
{% block content %}
    <div class="container py-4 py-lg-5">
        {# Campaign Header #}
        {% include "campaign/includes/detail/header.html" %}

        <div class="row g-4">
            <div class="col-lg-8">
                {# About Section #}
                {% include "campaign/includes/detail/about_card.html" %}

                {# Sessions #}
                {% include "campaign/includes/detail/sessions.html" %}

                {# Adventure Log / Feed #}
                {% include "campaign/includes/detail/adventure_log.html" %}

            </div>
            <div class="col-lg-4">
                {# Session Tools (VTT/Video) #}
                {% include "campaign/includes/detail/session_tools.html" %}

                {# Helpful Links #}
                {% include "campaign/includes/detail/helpful_links_card.html" %}

                {# Party Members List #}
                {% include "campaign/includes/detail/party_list.html" %}

                {# DM Invite Controls #}
                {% include "campaign/includes/detail/invite_card.html" %}

            </div>
        </div>
    </div>
{% endblock content %}
