{% extends "base.html" %}

{% block title %}
    Confirm Delete - {{ object.name }}
{% endblock title %}
{% block content %}
    <div class="container py-4 py-lg-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="card shadow-sm">
                    <div class="card-header">
                        <h4 class="mb-0">Confirm Deletion</h4>
                    </div>
                    <div class="card-body">
                        <p>
                            Are you sure you want to delete the link "<strong>{{ object.name }}</strong>"?
                        </p>
                        <form method="post">
                            {% csrf_token %}
                            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                <a href="{% url 'campaign_detail' pk=object.campaign.pk %}"
                                   class="btn btn-secondary me-md-2">Cancel</a>
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
