{% extends "base.html" %}

{% block title %}
    Managed Campaigns - Dungeon Buddy
{% endblock title %}
{% block content %}
    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <h2 class="mb-4">Managed Campaigns</h2>
                {% if campaigns %}
                    {% include "campaign/includes/campaign_list.html" %}

                {% else %}
                    <p class="text-muted">You are not managing any campaigns yet.</p>
                    <a href="{% url 'campaign_create' %}" class="btn btn-primary">Create One</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}
